* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tema-box {
  display: block; /* gør hele området klikbart */
  background-color: #eae8e8;
  color: var(--fckfarve);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px; /* de runde hjørner */
  text-decoration: none; /* fjerner standard link-underline */
  transition: transform 0.3s, box-shadow 0.3s; /* den bløde overgang for hover-effekter */
}

.tema-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Skaber skygge ved hover */
}

.tema-box:hover ul {
  flex-direction: column; /* Ændrer rækkefølgen af elementerne */
  gap: 20px; /* Mindre mellemrum på mobil */
  color: blue;
}

@media screen and (max-width: 799px) {
  .header h1 {
    font-size: 28px;
  }

  .tema-box {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }
  .tema-box a {
    text-decoration: none;
  }

  .tema-box span {
    display: block;
  }

  .menu-icon {
    font-size: 26px;
  }
}
