* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h1 {
  text-align: center;
  margin-block: 60px;
}
h2 {
  text-align: center;
  margin-top: 40px;
}
p {
  margin-block: 25px;
  line-height: 1.5;
}

.link2 {
  font-weight: bold;
  text-decoration: none;
}

.link2:hover {
  color: black;
}
img {
  margin-top: 10px;
}
.tekst1 {
  margin-top: 130px;
  text-align: center;
}

@media screen and (max-width: 799px) {
  body {
    padding-inline: 80px;
  }
  h1 {
    text-align: center;
    margin-block: 60px;
  }
  h2 {
    text-align: center;
  }
  p {
    margin-block: 25px;
    line-height: 1.5;
  }

  .link1 {
    font-weight: bold;
    text-decoration: none;
  }

  .link1:hover {
    color: black;
  }
  img {
    margin-top: 10px;
  }
}
