* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  border: 2px solid black; /* eller en anden farve og tykkelse */
  padding: 5px; /* valgfrit: lidt luft mellem billede og kant */
  border-radius: 4px;
  border-color: var(--fckfarve);
}

img:hover {
  transform: scale(1.1); /* Gør billedet større */
  transition: transform 0.3s ease; /* Giver en blød animation */
}
h1 {
  text-align: center;
  margin-block: 60px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 80px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 80px;
}

.grid_1-1-1 img {
  height: 350px;
  object-fit: cover;
  max-width: 100%;
}

.grid_1-1-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid_1-1-1 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Fordel indhold jævnt */
  height: 100%; /* Sørg for at flex-boksen fylder hele højden */
}
h2 {
  text-align: center;
  margin-top: 40px;
}
p {
  margin-block: 25px;
  line-height: 1.5;
}

.link2 {
  font-weight: bold;
  text-decoration: none;
}

.link2:hover {
  color: red;
}
@media screen and (max-width: 799px) {
  body {
    padding-inline: 80px;
  }
  h1 {
    text-align: center;
    margin-block: 60px;
  }
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  p {
    margin-block: 25px;
    line-height: 1.5;
  }

  .link3 {
    font-weight: bold;
    text-decoration: none;
  }

  .link3:hover {
    color: black;
  }
  img {
    margin-top: 10px;
  }
  .grid_1-1 {
    grid-template-columns: 1fr;
  }
  .grid_1-1-1 {
    grid-template-columns: 1fr;
  }
  img:hover {
    transform: none;
  }
}
